@font-face {
    font-family: MyCustom1;
    src: url("../Fonts/hamston/Hamston.ttf");
}
@font-face {
    font-family: MyCustom2;
    src: url("../Fonts/modern-monarch-demo/Modern\ Monarch\ DEMO.ttf");
}
@font-face {
    font-family:MyCustom3 ;
    src: url("../Fonts/huxtable/Huxtable.otf");
}
@font-face {
    font-family: MyCustom4;
    src: url("../Fonts/antipasto/AntipastoPro-Thin_trial\ 2.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#home1{
    height: 15vh;
    width: 100%;
    top: -16%;
    left: -3.5%;
    z-index: 993939;
    position: fixed;
    display: flex;
    background-color: white;
    box-shadow: 0px 0px 8px black;
    animation: top 1s 1;
}
@keyframes top {
    from{
        top: -50%;
        opacity: 0;
    }
    to{
        top: -16%;
        opacity: 1;
    }
}
.container img{
    height: 100px;
    width: 100px;
    margin-left: 30px;
    margin-top: 0px;
    cursor: pointer;
}
.container h1{
   margin-top: 30px;
   font-size: 25px;
   letter-spacing: 0.5px;
   margin-left: 10px;
   font-family: MyCustom1;
    color: rgba(208,175,98,255);
}
.container #tp{
    font-size: 20px;
    margin-left: 35px;
    font-family: none;
    font-weight: lighter;
}
#nav {
margin-left: 250px;
margin-top: 50px;

}
#nav ul{
    display: flex;
    gap: 30px;
    list-style:  none;
    
}
#nav ul li{
    color: goldenrod;
    font-size: 23px;
    cursor: pointer;
    font-weight: lighter;
    font-family: MyCustom2;
}
#nav ul li:hover{
    color: black;
}
.container  #btn{
    height: 6vh;
    width: 150%;
    margin-top: 36px;
    cursor: pointer;
    margin-left: 30px;
    background-color: rgba(208,175,98,255);
    color: black;
    border: none;
    border-radius: 10px;

}
.container #btn:hover{
    color: white;
 }

 /* index.scss */


.container-body {
    position: absolute;
    top: 20%;
    left: -10%;
    height: 60%;
    width: 100%;
    color: white;
    
    
   
}

.container-body img{
    border-radius: 20px;
    margin-top: 60px;
    margin-left:300px;
    height: 300px;
    width: 300px;
    padding: 2px;
    border: 2px solid  rgba(208,175,98,255);
    animation: slide1 1s 1;
}
@keyframes slide1 {
    from{
        margin-left : -300px;
    }
    to{
        margin-left: 300px;
    }
}

.container-body #btn-container-body{
    position: absolute;
    top: 70%;
    height: 7vh;
    width: 20%;
    margin-left:20%;
    border: none;
    cursor: pointer;
    background-color: rgba(208,175,98,255);
    color:black;
    font-size: 20px;
    border-radius: 10px;
    animation: beat 1s infinite;

}

.container-body #content-container-body{
    position: absolute;
    left:55%;
    top: 20%;
    margin-top: 20px;
    margin-left: -30px;
    width: 50vw;
    height: auto;
    font-size:23px;
    font-weight: lighter;
    word-spacing: 5px;
    background-color: white;
    color: black;
    font-family: MyCustom3;
    background: transparent;
    animation: slide 1s 1;
}
@keyframes slide {
    from{
        top: -20%;
    }
    to{
        top: 20%;
    }
}

#enquiry{
    position: fixed;
    left:88%;
    border-radius: 10%;
    top: 93%;
    padding: 10px 50px;
    cursor: pointer;
    background-color: goldenrod;
    border: none;
}
@keyframes beat {
    from{
        transform: scale(0.8);
    }
    to{
        transform: scale(1);
        top: 70%;
    }
    
}


.features{
    position: absolute;
    top: 110%;
    left: 5%;
    width: 80%;
    justify-content: space-evenly;
    display: flex;
    height: auto;
    color: white;
    gap: 2%;
}
#subjects h1{
    position: relative;
    color: black;
    left: 50%;
    
    margin-top: -90px;
    font-size: 25px;
    width: 100%;

}
.features .body-subjects{
    background-color: rgba(208,175,98,255);
    border-radius: 20px;
    color: black;
    height: auto;
    padding: 10px;
    margin: 10px;
}

